
body{
    background-color:   #e2e8f0;
}
.main-body{

    display: flex;
  min-height: 100vh;
}

.dashboard-header{

    display: flex;
     background-color:  #1f2937;
    position: fixed;
    color:#f8fafc;
    z-index: 1000;
    padding: 7px;
    width: 180px;
     box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
}

.left-body {
  position: fixed;          /* Fixes it in place */
  top: 4rem;                /* Matches your .dashboard-header height */
  left: 0;
  width: 180px;
  height: calc(100vh - 4rem);  /* Full height minus header */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1f2937;
  color:#f8fafc;
  box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
  overflow-y: auto;         /* Optional: scroll inside if content overflows */
  z-index: 999;             /* Below header but above content */
}

.font,a{

  color: #f8fafc;
  text-decoration: none;
}


.right-body {
  margin-left: 180px; /* same as .left-body width */
  flex: 1;
  padding: 40px;
  background-color: #e2e8f0;
  overflow-y: auto;
  min-height: 100vh;
}

.add-phrase{
    display: inline-block;
}
select{
    border: none;
    width: 70px;
    margin-left: 5px;
}


