
body{
    background-color:   #e2e8f0;
}
.main-body{

    display: flex;
  min-height: 100vh;
}

.dashboard-header{

    display: flex;
    background-color:  #1f2937;
    position: fixed;
    color:#f8fafc;
    z-index: 1000;
    padding: 7px;
    width: 190px;
     box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
      transition: width 0.3s ease, padding 0.3s ease;
}

.left-body {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 190px;
  height: calc(100vh - 4rem);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #1f2937;
  color: #f8fafc;
  box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
  overflow-y: auto;
  transition: width 0.3s ease;
}

.font,a{

  color: #f8fafc;
  text-decoration: none;
}


.right-body {
  margin-left: 180px; /* same as .left-body width */
  flex: 1;
  padding: 40px;
  background-color: #e2e8f0;
  overflow-y: auto;
  min-height: 100vh;
}

.add-phrase{
    display: inline-block;
}
select{
    border: none;
    width: 70px;
    margin-left: 5px;
    border-radius: 1rem;
}

.left-body.collapsed {
  width: 60px;   /* only icons visible */
  padding: 20px 10px;
}

.left-body.collapsed a,
.left-body.collapsed .font {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-body.collapsed a span,
.left-body.collapsed .label,
.left-body.collapsed select{
  display: none;  /* hide text + selects */
}

.left-body.collapsed a,
.left-body.collapsed .menu-item,
.left-body.collapsed p{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;  /* icons centered only */
}
.right-body {
  margin-left: 180px;
  transition: margin-left 0.3s ease;
}

.dashboard-header.collapsed {
  width: 60px;                 /* shrink same as sidebar */
  justify-content: center;     /* center the logo */
}


.dashboard-header.collapsed .title {
  display: none;               /* hide text */
}

.left-body.collapsed ~ .right-body {
  margin-left: 60px; /* adjust content when sidebar shrinks */
}

/* Toggle Button Styling */
.toggle-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: #f8fafc;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
}
